:root {
    --font-primary: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;

    --color-canvas: #fff;

    --shade: rgba(0,0,0,0.05);
    --shade-inverted: rgba(255,255,255,0.1);

    --vellum: rgba(255,255,255,0.8);

    --pencil-4h: #eee;
    --pencil-2h: #dcdcdc;
    --pencil-h: #aaa;
    --pencil-hb: #999;
    --pencil-b: #777;
    --pencil-2b: #555;
    --pencil-4b: #333;
    --blue: #4c96ca;
    --bright-blue: #57A3D8;
    --deep-red: #9a2b00;

    --color-text-primary: var(--pencil-4b);
    --color-text-secondary: var(--pencil-b);
    --color-text-tertiary: var(--pencil-h);
    --color-text-quarternary: var(--pencil-2h);
    --color-text-inverted: var(--color-canvas);
    --color-text-active: var(--blue);

    --color-brdr-primary: var(--pencil-2h);
    --color-brdr-secondary: var(--pencil-h);
    --color-brdr-tertiary: var(--pencil-hb);
    --color-brdr-quarternary: var(--pencil-4h);

    --color-bg-primary: var(--color-canvas);
    --color-bg-secondary: var(--pencil-4h);
    --color-bg-tertiary: var(--pencil-2h);
    --color-bg-inverted: var(--pencil-2b);
   
    --color-label: var(--color-text-secondary);

    --color-hazard: #9a2b00;
    --color-go: #03ad0c;
    --color-active: #57A3D8;

    --hilite-bg-primary: var(--bright-blue);
    --hilite-brdr-primary: var(--pencil-h);

    --dim-bg-primary: var(--blue);
    --dim-brdr-primary: var(--pencil-b);
}